body {
    background-color: rgb(239, 188, 188);
}
h1 {
    font-size: 30px;
    color: rgb(90, 30, 30);
    margin-left: 30px;
}
h2 {
    font-size: 20px;
    color: rgb(90,30,30);
}
p {
    font-size: 20px;
    color: black;
    padding: 20px;
}
li {
    font-size: 18px;
    color: rgb(76, 3, 3);
    padding: 10px;
}
a {
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 30px;
}
.content {
    display: flex;
    margin: 30px;
}
.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(214, 126, 126);
    margin: 20px;
    border-radius: 15px;
}
.content-right {
    background-color: rgb(214, 126, 126);
    display: flex;
    padding: 30px;
    width: 50%;
    margin: 20px;
    border-radius: 15px;
}
.image {
    width: 100%;
    height: auto;
}
.header {
    display: flex;
    justify-content: right;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(209, 116, 100);
}
.block {
    background-color: azure;
    width: 200px;
    height: 200px;
}
.container-2 {
    height: 300px;
    display: flex;
    align-items: center;
    background-color:rgb(209, 116, 100);
}
.block-2 {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 0 auto;
}
.container-3 {
    display: flex;
    background-color: rgb(209, 116, 100);
    border: 3px;
    flex-direction: row;
    flex-wrap: wrap;
}
.block-3 {
    width: 200px;
    height: 200px;
    background-color:brown;
    margin: 10px;
}
.container-4 {
    border: 5px solid;
}
.red {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid red;
    left: 40px;
    top: 40px;
}
.green {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid green;
    left: 100px;
    top: -50px;
}
.blue {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid blue;
    left: 160px;
    top: -140px;
}
.cat {
    position: fixed;
    right: 0;
    bottom: 0;
}
.cat img {
    width: 100px;
    height: 100px;
}